<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <main class="b-page-main">
      <div class="b-page-branding">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="b-card-item">
                <div class="b-icon">
                  <img src="../../images/icon_item_1.png" alt="Icon" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Clean Design
                  </h2>
                  <p class="b-text-norm">
                    Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="b-card-item">
                <div class="b-icon">
                  <img src="../../images/icon_item_1.png" alt="Icon" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Clean Design
                  </h2>
                  <p class="b-text-norm">
                    Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="b-card-item">
                <div class="b-icon">
                  <img src="../../images/icon_item_1.png" alt="Icon" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Clean Design
                  </h2>
                  <p class="b-text-norm">
                    Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="b-card-item">
                <div class="b-icon">
                  <img src="../../images/icon_item_1.png" alt="Icon" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Clean Design
                  </h2>
                  <p class="b-text-norm">
                    Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-feature">
        <div class="container">
          <div class="b-block">
            <div class="b-block-left">
              <div class="b-images">
                <img src="../../images/block_chain.png" alt="Block" />
              </div>
            </div>
            <div class="b-block-right">
              <div class="b-heading">
                <h2 class="b-text-title">
                  App Core Features
                </h2>
                <p class="b-text-norm">
                  It is a long established fact that a reader will be distracted its by the readable content of a page
                  when at its layout.
                </p>
              </div>
              <div class="b-core-feature">
                <div class="b-item">
                  <div class="b-icon">
                    <img src="../../images/icon_premium.png" alt="Premium" />
                  </div>
                  <div class="b-content">
                    <h2 class="b-text-title">
                      Premium Quality
                    </h2>
                    <p class="b-text-norm">
                      Lorem has survived not only five to but also the leap.
                    </p>
                  </div>
                </div>
                <div class="b-item">
                  <div class="b-icon">
                    <img src="../../images/icon_premium.png" alt="Premium" />
                  </div>
                  <div class="b-content">
                    <h2 class="b-text-title">
                      Premium Quality
                    </h2>
                    <p class="b-text-norm">
                      Lorem has survived not only five to but also the leap.
                    </p>
                  </div>
                </div>
                <div class="b-item">
                  <div class="b-icon">
                    <img src="../../images/icon_premium.png" alt="Premium" />
                  </div>
                  <div class="b-content">
                    <h2 class="b-text-title">
                      Premium Quality
                    </h2>
                    <p class="b-text-norm">
                      Lorem has survived not only five to but also the leap.
                    </p>
                  </div>
                </div>
                <div class="b-item">
                  <div class="b-icon">
                    <img src="../../images/icon_premium.png" alt="Premium" />
                  </div>
                  <div class="b-content">
                    <h2 class="b-text-title">
                      Premium Quality
                    </h2>
                    <p class="b-text-norm">
                      Lorem has survived not only five to but also the leap.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-overview">
        <div class="b-block">
          <div class="b-block-left">
            <div class="b-contet">
              <h2 class="b-text-title">
                App Overview For Easy Understanding
              </h2>
              <p class="b-text-norm">
                It is a long established fact that a reader will be distracted its by the readable content of a page
                when at its layout. As opposed it conten making it look like readable English.
              </p>
              <div class="b-list-social">
                <div class="b-item">
                  <a href="#" class="b-link">
                    <img src="../../images/appstore.png" alt="App" />
                  </a>
                </div>
                <div class="b-item">
                  <a href="#" class="b-link">
                    <img src="../../images/playstore.png" alt="App" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="b-block-right">
            <div class="b-overlay">
              <div class="b-content">
                <button class="b-btn">
                  <i class="fas fa-play"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-awesome">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-offset-3">
              <div class="b-heading">
                <h2 class="b-text-title">
                  Awesome Screenshots
                </h2>
                <p class="b-text-norm">
                  It is a long established fact that a reader will be distracted its by the readable content of a page
                  when at its layout
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="b-card-item">
                <img src="../../images/image_design.png" alt="Image" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card-item">
                <img src="../../images/image_design.png" alt="Image" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card-item">
                <img src="../../images/image_design.png" alt="Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-achievement">
        <div class="container">
          <div class="b-block">
            <div class="b-item">
              <div class="b-rotate">
              </div>
              <div class="b-content">
                <h2 class="b-text-price">
                  250K
                </h2>
                <p class="b-text-norm">
                  App Download
                </p>
              </div>
            </div>
            <div class="b-item">
              <div class="b-rotate">
              </div>
              <div class="b-content">
                <h2 class="b-text-price">
                  250K
                </h2>
                <p class="b-text-norm">
                  App Download
                </p>
              </div>
            </div>
            <div class="b-item">
              <div class="b-rotate">
              </div>
              <div class="b-content">
                <h2 class="b-text-price">
                  250K
                </h2>
                <p class="b-text-norm">
                  App Download
                </p>
              </div>
            </div>
            <div class="b-item">
              <div class="b-rotate">
              </div>
              <div class="b-content">
                <h2 class="b-text-price">
                  250K
                </h2>
                <p class="b-text-norm">
                  App Download
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-feedback">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-offset-3">
              <div class="b-heading">
                <h2 class="b-text-title">
                  Client’s Feedback
                </h2>
                <p class="b-text-norm">
                  It is a long established fact that a reader will be distracted its by the readable content of a page
                  when at its layout
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="b-card-item">
                <div class="b-icon" style="background-image: url('../../person_item_1.png')">

                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Robert Goil
                  </h2>
                  <h3 class="b-text-name">
                    Repto Inc
                  </h3>
                  <p class="b-text-norm">
                    Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.
                  </p>
                  <div class="b-list-start">
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card-item">
                <div class="b-icon" style="background-image: url('../../person_item_1.png')">

                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Robert Goil
                  </h2>
                  <h3 class="b-text-name">
                    Repto Inc
                  </h3>
                  <p class="b-text-norm">
                    Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.
                  </p>
                  <div class="b-list-start">
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card-item">
                <div class="b-icon" style="background-image: url('../../person_item_1.png')">

                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Robert Goil
                  </h2>
                  <h3 class="b-text-name">
                    Repto Inc
                  </h3>
                  <p class="b-text-norm">
                    Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.
                  </p>
                  <div class="b-list-start">
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="b-item">
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-pricing">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="b-card-item">
                <h2 class="b-text-title">
                  Started
                </h2>
                <h3 class="b-text-price">
                  $50
                </h3>
                <p class="b-text-monthly">
                  Monthly
                </p>
                <div class="b-list-item">
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                </div>
                <a href="#" class="b-link">
                  SIGN UP NOW
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card-item">
                <h2 class="b-text-title">
                  Started
                </h2>
                <h3 class="b-text-price">
                  $50
                </h3>
                <p class="b-text-monthly">
                  Monthly
                </p>
                <div class="b-list-item">
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                </div>
                <a href="#" class="b-link">
                  SIGN UP NOW
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card-item">
                <h2 class="b-text-title">
                  Started
                </h2>
                <h3 class="b-text-price">
                  $50
                </h3>
                <p class="b-text-monthly">
                  Monthly
                </p>
                <div class="b-list-item">
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                  <div class="b-item">
                    <p class="b-text-norm">
                      10Gb File storega
                    </p>
                  </div>
                </div>
                <a href="#" class="b-link">
                  SIGN UP NOW
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-download">
        <div class="b-block">
          <div class="b-block-left">
            <div class="b-content">
              <h2 class="b-text-title">
                Now Appnest avaliable Get This App Now
              </h2>
              <p class="b-text-norm">
                It is a long established fact that a reader will be distracted its by the readable content of a page
                when at its layout. As opposed it conten making it look like readable English.
              </p>
              <div class="b-list-social">
                <div class="b-item">
                  <a href="#" class="b-link">
                    <img src="../../images/appstore.png" alt="App" />
                  </a>
                </div>
                <div class="b-item">
                  <a href="#" class="b-link">
                    <img src="../../images/playstore.png" alt="Play" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="b-block-right">

          </div>
        </div>
      </div>
      <div class="b-page-recent">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-col-3">
              <div class="b-heading">
                <h2 class="b-text-title">
                  Recent News
                </h2>
                <p class="b-text-norm">
                  It is a long established fact that a reader will be distracted its by the
                  readable content of a page when at its layout
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="b-card-item">
                <div class="b-images" style="background-image: url('../../images/image_post.png')">

                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Exclusive Post For You
                  </h2>
                  <p class="b-text-time">
                    Posted By : Admin | 07 Sep, 2018
                  </p>
                  <p class="b-text-norm">
                    Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a
                    bandwidth bill.
                  </p>
                  <a href="#" class="b-link">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>