<div class="b-page-banner">
    <div class="b-block">
        <div class="b-block-left">
            <div class="b-content">
                <h2 class="b-text-title">
                    Appnest Best Mobile App Landing Page
                </h2>
                <p class="b-text-norm">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
                <div class="b-list-social">
                    <div class="b-item">
                        <a href="#" class="b-link">
                            <img src="../../images/appstore.png" alt="App" />
                        </a>
                    </div>
                    <div class="b-item">
                        <a href="#" class="b-link">
                            <img src="../../images/playstore.png" alt="Play" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-block-right">
            <div class="b-images">
                <img src="../../images/iphoneX.png" alt="iphoneX" />
            </div>
        </div>
    </div>
</div>