<div class="b-page-footer">
    <div class="b-footer-appnest">
        <div class="container">
            <div class="b-block">
                <div class="b-block-item">
                    <div class="b-heading">
                        <img src="../../images/logo.png" alt="Logo" />
                    </div>
                    <div class="b-content">
                        <p class="b-text-norm">
                            It is a long established fact that it is reader will be distracted it by readable content of
                            a pagei when at it conten making.
                        </p>
                        <div class="b-list-social">
                            <div class="b-header">
                                <h2 class="b-text-norm">
                                    Follow Us
                                </h2>
                            </div>
                            <div class="b-list-item">
                                <div class="b-item">
                                    <img src="../../images/icon_in.png" alt="face" />
                                </div>
                                <div class="b-item">
                                    <img src="../../images/icon_in.png" alt="face" />
                                </div>
                                <div class="b-item">
                                    <img src="../../images/icon_in.png" alt="face" />
                                </div>
                                <div class="b-item">
                                    <img src="../../images/icon_in.png" alt="face" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-block-item">
                    <div class="b-heading">
                        <h2 class="b-text-title">
                            Resouces
                        </h2>
                    </div>
                    <div class="b-content">
                        <div class="b-list-item">
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-block-item">
                    <div class="b-heading">
                        <h2 class="b-text-title">
                            Resouces
                        </h2>
                    </div>
                    <div class="b-content">
                        <div class="b-list-item">
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                            <div class="b-item">
                                <a href="#" class="b-link">Watch Demo Video</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-block-item">
                    <div class="b-heading">
                        <h2 class="b-text-title">
                            Resouces
                        </h2>
                    </div>
                    <div class="b-content">
                        <p class="b-text-norm">
                            Subscribe to our newsletter for latest update
                        </p>
                        <div class="b-form">
                            <input type="text" placeholder="Enter your email" />
                            <button type="button"><i class="fab fa-telegram-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer">
        <p class="b-text-norm">
            © 2017 Equalizzer | All Rights Reserved By Abdullah Al Mamun | Envato Marketplace
        </p>
    </div>
</div>