<header class="b-page-header">
    <div class="container">
        <div class="b-block">
            <div class="b-block-left">
                <div class="b-logo">
                    <img src="../../images/logo_main.png" alt="Logo" />
                </div>
            </div>
            <div class="b-block-menu">
                <nav class="b-page-nav">
                    <ul class="b-list-item">
                        <li class="b-item">
                            <a href="#" class="b-link">HOME</a>
                        </li>
                        <li class="b-item">
                            <a href="#" class="b-link">FEATURE</a>
                        </li>
                        <li class="b-item">
                            <a href="#" class="b-link">PRICING</a>
                        </li>
                        <li class="b-item">
                            <a href="#" class="b-link">TEAM</a>
                        </li>
                        <li class="b-item">
                            <a href="#" class="b-link">BLOG</a>
                        </li>
                        <li class="b-item">
                            <a href="#" class="b-link">CONTACT</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="b-block-right">
                <a href="#" class="b-btn">GET THE APP</a>
            </div>
        </div>
    </div>
</header>