$cl_white_oquaque: rgb(255, 255, 255);
$cl_green: rgb(36, 198, 87);
$cl_black: rgb(40, 40, 40);
$cl_green_sea: rgb(0, 207, 241);
$size_medium: 16px;
$line_hight_medium: 12px;
$size_desc: 15px;
$size_title: 18px;
$size_big_title: 36px;
